<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">CEFET Store</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/pedido" routerLinkActive="active" style="color: white">Acompanhar Pedido</button>
  <button mat-button routerLink="/registrar" routerLinkActive="active" style="color: white">Registrar</button>
  <button mat-button routerLink="/login" routerLinkActive="active" style="color: white">Login</button>
</mat-toolbar>

<router-outlet></router-outlet>