<div class="order-status-container">
    <mat-card class="order-status-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar"> 
                A
            </div>
            <mat-card-title>Adicionado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-value">{{ data.adicionado }}</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="order-status-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">
                E
            </div>
            <mat-card-title>Enviado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-value">{{  data.enviado }}</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="order-status-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">
                E
            </div>
            <mat-card-title>Entregue</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-value">{{  data.entregue }}</div>
        </mat-card-content>
    </mat-card>



</div>