<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of cartItems">
            <div class="product-info">
                <div class="product-image">
                    <img [src]="item.processedImg" alt="product-image">
                </div>
                <div class="product-details">
                    <div class="item-row">
                        <div class="item-name" [ngClass]="{ 'highlight': item.highlighted }">
                            {{ item.productName }}
                        </div>
                        <div class="item-price"> R{{ item.price | currency }}></div>
                        <div class="quantity-controls">
                            <button mat-icon-button [disabled]="item.quantity == 1" (click)="decreaseQuantity(item.productId)"> 
                                <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <span class="quantity">{{ item.quantity }}</span>
                            <button mat-icon-button (click)="increaseQuantity(item.productId)">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="total-price">
            Valor Total: R{{ order.totalAmount | currency }}
        </div>
        <div class="total-price">
            Valor: R{{ order.amount | currency }}
        </div>
        <div class="total-price" *ngIf="order.cupomName != null">
            Cupom Aplicado: {{ order.cupomName }}
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="fazerPedido()">Fazer Pedido</button>
        </div>
    </div>

    <div class="container" *ngIf="order.cupomName == null">
        <form [formGroup]="cupomForm" (ngSubmit)="applyCupom()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Código</mat-label>
                <input matInput type="text" placeholder="Código" formControlName="code"/>
                <mat-error *ngIf="cupomForm.get('code')?.hasError('required')">Este campo é obrigatório!</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Aplicar Cupom</button>
            </form>
    </div>

</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <mat-icon class="icon">remove_shopping_cart</mat-icon>
        <span>Você ainda não possui itens no seu carrinho.</span>
    </div>  
</ng-template>
